{% extends 'base.html' %} {% block title %}Home{% endblock title %} {% block body %}
<div class="container-fluid ">
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/static/img/9.jpg" class="d-block w-100" height="500" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5> Welcome to MarketMingle</h5>
                    <p> Here you can check any Electronic gadgets and Books as you want.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/static/img/2.png" class="d-block w-100" height="500" alt="...">
                <div class="carousel-caption d-none d-md-block">
                </div>
            </div>
            <div class="carousel-item">
                <img src="/static/img/3.webp " class="d-block w-100" height="500" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
    </div>
</div>


<div class="container my-3">
    <h1 class="my-2 text-center"> Select from our range of Items</h1>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
            <div class="card shadow-sm" style="width: 20rem;">
                <img src="/static/img/14.jpg" class="img-fluid" alt="laptop" />

                <div class="card-body">
                    <p class="card-text">There is a wide variety of Laptops of every types.</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Buy</button>
                        </div>
                        <small class="text-body-secondary">9 mins</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow-sm " style="width: 20rem;">
                <img src="/static/img/12.jpg " class="img-fluid " alt="mobiles ">
                <div class="card-body ">
                    <p class="card-text ">There is a wide variety of Mobiles of every types.</p>
                    <div class="d-flex justify-content-between align-items-center ">
                        <div class="btn-group ">
                            <button type="button " class="btn btn-sm btn-outline-secondary ">View</button>
                            <button type="button " class="btn btn-sm btn-outline-secondary ">Buy</button>
                        </div>
                        <small class="text-body-secondary ">9 mins</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col ">
            <div class="card shadow-sm " style="width: 20rem;">
                <img src="/static/img/15.jpg " class="img-fluid " alt="Headphones ">
                <div class="card-body ">
                    <p class="card-text ">There is a wide variety of Headphones of every types.</p>
                    <div class="d-flex justify-content-between align-items-center ">
                        <div class="btn-group ">
                            <button type="button " class="btn btn-sm btn-outline-secondary ">View</button>
                            <button type="button " class="btn btn-sm btn-outline-secondary ">Buy</button>
                        </div>
                        <small class="text-body-secondary ">9 mins</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="col ">
            <div class="card shadow-sm " style="width: 20rem;">
                <img src="/static/img/18.jpg " class="img-fluid " alt="watch ">
                <div class="card-body ">
                    <p class="card-text ">There is a wide variety of Watch of every types.</p>
                    <div class="d-flex justify-content-between align-items-center ">
                        <div class="btn-group ">
                            <button type="button " class="btn btn-sm btn-outline-secondary ">View</button>
                            <button type="button " class="btn btn-sm btn-outline-secondary ">Buy</button>
                        </div>
                        <small class="text-body-secondary ">9 mins</small>
                    </div>
                </div>
            </div>
        </div>


        <div class="col ">
            <div class="card shadow-sm " style="width: 20rem;">
                <img src="/static/img/bumper.jpeg " class="img-fluid " alt="mobile covers ">
                <div class="card-body ">
                    <p class="card-text ">Here is a wide variety of Mobile covers of every types.</p>
                    <div class="d-flex justify-content-between align-items-center ">
                        <div class="btn-group ">
                            <button type="button " class="btn btn-sm btn-outline-secondary ">View</button>
                            <button type="button " class="btn btn-sm btn-outline-secondary ">Buy</button>
                        </div>
                        <small class="text-body-secondary ">9 mins</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col ">
            <div class="card shadow-sm " style="width: 20rem;">
                <img src="/static/img/a.jpeg " class="img-fluid " alt="books ">
                <div class="card-body ">
                    <p class="card-text ">Here is a wide variety of Books of every types.</p>
                    <div class="d-flex justify-content-between align-items-center ">
                        <div class="btn-group ">
                            <button type="button " class="btn btn-sm btn-outline-secondary ">View</button>
                            <button type="button " class="btn btn-sm btn-outline-secondary ">Buy</button>
                        </div>
                        <small class="text-body-secondary ">9 mins</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col ">
            <div class="card shadow-sm " style="width: 20rem">
                <img src="/static/img/geometry.jpeg " class="img-fluid " alt="geometry ">

                <div class="card-body ">
                    <p class="card-text ">Here is a wide variety of Geometry of every types.</p>
                    <div class="d-flex justify-content-between align-items-center ">
                        <div class="btn-group ">
                            <button type="button " class="btn btn-sm btn-outline-secondary ">View</button>
                            <button type="button " class="btn btn-sm btn-outline-secondary ">Buy</button>
                        </div>
                        <small class="text-body-secondary ">9 mins</small>
                    </div>
                </div>
            </div>
        </div>

        <div class="col ">
            <div class="card shadow-sm " style="width: 20rem; ">
                <img src="/static/img/trolleybag.jpeg " class="img-fluid " alt="bags ">
                <div class="card-body ">
                    <p class="card-text ">Here is a wide variety of Bags of every types.</p>
                    <div class="d-flex justify-content-between align-items-center ">
                        <div class="btn-group ">
                            <button type="button " class="btn btn-sm btn-outline-secondary ">View</button>
                            <button type="button " class="btn btn-sm btn-outline-secondary ">Buy</button>
                        </div>
                        <small class="text-body-secondary ">9 mins</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock body %}